.benefits {
	display: flex;
}

.benefits__col {
	width: 50%;
}

.benefits-list {
	position: relative;

	width: 100%;
	max-width: 370px;

	padding-left: 50px;

	background-image: linear-gradient(to bottom, $white 40%, $line 40%);
	background-size: 2px 35px;
	background-repeat: repeat-y;

	&::before {
		content: '';
		position: absolute;
		top: 6px;
		left: -11px;

		display: block;
		width: 26px;
		height: 36px;

		background: url('../images/pin-start.svg');
		background-color: $white;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -25px;
		left: -11px;

		display: block;
		width: 26px;
		height: 36px;

		background: url('../images/pin-end.svg');
		background-color: $white;
	}
}

.benefits-list__item:not(:last-child) {
	margin-bottom: 30px;
}

.benefits-list__title {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	line-height: 25px;
	font-size: 21px;

	color: $title-service;

	margin-bottom: 12px;
}

.benefits-list__text {
	font-family: 'PT Sans';
	line-height: 21px;
	font-size: 15px;

	color: $text-srvice;

}