.team {
	display: flex;
	justify-content: space-between;

}

.team__items {
	margin-right: 45px;

	display: grid;
	grid-template-columns: 370px;
	grid-template-rows: 195px min-content max-content 18px 18px;
}

.team__photo {
	box-shadow: 10px 5px 13px rgba(0, 0, 0, .16);
}

.team__name {
	padding-top: 13px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	line-height: 22px;
	font-size: 18px;

	color: $title-service;
}

.team__prof {
	padding: 5px 0 11px;

	font-family: 'PT Sans', sans-serif;
	line-height: 19px;
	font-size: 15px;

	color: $text-srvice;
}

.team__contacts {
	align-items: center;
	
	font-family: 'PT Sans', sans-serif;
	line-height: 18px;
	font-size: 14px;

	color: $text-srvice;

	& a {
		display: inline-block;
		padding-bottom: 5px;

		color: inherit;

		svg {
			margin-right: 9px;
		}
	}
}


